# Referencing variables:
# https://www.serverless.com/framework/docs/providers/aws/guide/variables/

service: piupiu

provider:
  name: aws
  logs:
    websocket: true
  region: eu-north-1
  runtime: nodejs14.x
  websocketsApiName: piupiu-api
  websocketsApiRouteSelectionExpression: $request.body.action # custom routes are selected by the value of the action property in the body
  lambdaHashingVersion: 20201221
  memorySize: 128
  environment:
    TABLE_NAME:
      LobbyTable
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:DescribeTable
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - "Fn::GetAtt": [ LobbyTable, Arn ]
        - Effect: Allow
          Resource: arn:aws:logs:*:*:*
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            - logs:DescribeLogStreams

functions:
  connectionHandler:
    handler: server.connectionHandler
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect
  defaultHandler:
    handler: server.defaultHandler
    events:
      - websocket: $default #simple event definition without extra route property
  dynamoTestHandler:
    handler: server.dynamoTest
    events:
      - websocket:
          route: dynamoTest # will trigger if $request.body.action === "foo"

resources:
  Resources:
    LobbyTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: LobbyTable
        AttributeDefinitions:
          - AttributeName: joinCode
            AttributeType: S
          - AttributeName: message
            AttributeType: S
        KeySchema:
          - AttributeName: joinCode
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
